<!-- +++++ Footer Section +++++ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>My Bunker</h4>
                <p>
                    Bay Area, CA.
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Elswhere</h4>
                <p>
                    <a href="https://github.com/mikhailkozlov"><i class="fa fa-github"></i> Github</a><br/>
                    <a href="https://plus.google.com/+MikhailKozlov/posts"><i class="fa fa-google-plus"></i> Google+</a><br/>
                    <a href="https://twitter.com/m_kozlov"><i class="fa fa-twitter"></i> Twitter</a><br/>
                    <a href="https://www.facebook.com/kozlov.m.a"><i class="fa fa-facebook-square"></i> Facebook</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>{{ site.title }}</h4>
                <p>{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</p>
                <p>&copy; {{ "now"|date("Y") }} {{ site.title }}<br>
                    Theme by <a href="http://www.blacktie.co/" target="_blank" title="Free handsome Bootstrap themes for everyone. Because \"free\" doesn't always mean crappy.">BlackTie.co</a></p>
                <span class="credit">Powered by <a href="http://sculpin.io">Sculpin</a></span>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/components/source/javascript/jquery.min.js"><\/script>')</script>
<script src="{{ site.url }}/components/source/javascript/vendors.min.js"></script>
<script src="{{ site.url }}/components/source/javascript/application.min.js"></script>
{% block scripts %}
{% endblock %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2184329-11', 'mikhailkozlov.com');
    ga('send', 'pageview');

</script>

<script>hljs.initHighlightingOnLoad();</script>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.js"></script>
<script src="/components/js/app.js"></script>