<!-- +++++ Footer Section +++++ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>My Bunker</h4>
                <p>
                    Bay Area, CA.
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Elswhere</h4>
                <p>
                    <a href="https://github.com/mikhailkozlov"><i class="fa fa-github"></i> Github</a><br/>
                    <a href="https://plus.google.com/+MikhailKozlov/posts"><i class="fa fa-google-plus"></i> Google+</a><br/>
                    <a href="https://twitter.com/m_kozlov"><i class="fa fa-twitter"></i> Twitter</a><br/>
                    <a href="https://www.facebook.com/kozlov.m.a"><i class="fa fa-facebook-square"></i> Facebook</a>
                </p>
            </div><!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>{{ site.title }}</h4>
                <p>{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</p>
                <p>&copy; {{ "now"|date("Y") }} {{ site.title }}<br>
                    Theme by <a href="http://www.blacktie.co/" target="_blank" title="Free handsome Bootstrap themes for everyone. Because \"free\" doesn't always mean crappy.">BlackTie.co</a></p>
                <span class="credit">Powered by <a href="http://sculpin.io">Sculpin</a></span>
            </div><!-- /col-lg-4 -->

        </div>

    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/components/source/javascript/jquery.min.js"><\/script>')</script>
<script src="{{ site.url }}/components/source/javascript/vendors.min.js"></script>
<script src="{{ site.url }}/components/source/javascript/application.min.js"></script>
{% block scripts %}
{% endblock %}

{% if site.google_analytics_tracking_id %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}

<script>hljs.initHighlightingOnLoad();</script>