<br />
<br />
<h3>Things I use</h3>
<br />
<a href="https://www.digitalocean.com/?refcode=5a8bd5c073cd"><img src="/components/img/ads/ssd-virtual-servers-250x250.jpg" alt="Digitalocean"/></a>
<hr/>

<a href="http://try.hrv.st/1-09871?b" title="Free time tracking application"><img src="https://s3-us-west-2.amazonaws.com/mikhailkozlov/ad-harvest_2010-11-04.png" alt="" width="125" height="125"></a>

<hr/>

<h3>Blogroll</h3>
<ul class="list-unstyled">
    <li><a href="http://codecanyon.net/?ref=315design" title="Buy PHP, ASP.NET, Java and Javascript from CodeCanyon – the marketplace for code scripts and snippets.">CodeCanyon PHP, Javascript and more</a></li>
    <li><a href="http://tutsplus.com/authors/mikhail-kozlov" title="My Nettuts+ Posts">Nettuts+</a></li>
</ul>
