---
layout: base
title: Blog | Mikhail Kozlov
generator: pagination
use:
    - posts

---

<h1>Blog</h1>
<div class="blog-index">
    {% set index = true %}
    {% for post in page.pagination.items %}
    <article>
        {% include "article" %}
    </article>
    {% endfor %}
    {% if page.pagination.previous_page or page.pagination.next_page %}
        <nav class="article clearfix">
            <ul class="pager">
                {% if page.pagination.previous_page %}
                <li class="previous"><a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Previous Page</span></a></li>
                {% endif %}
                {% if page.pagination.next_page %}
                <li class="next"><a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Next Page</span></a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>