---
layout: default
title: Home
sidebar: none
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---

<div id="white">
    <div class="container">
        <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3 centered">
                <h3>Blog</h3>
                <hr/>
            </div>
        </div>
            {% for post in page.pagination.items %}
                    <div class="row">
                        <article class="col-lg-8 col-lg-offset-2">
                            <header>
                                <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                            </header>
                            <div>
                                {{ post.meta.excerpt|raw }}
                            </div>
                            {% if post.meta.tags %}
                                <p class="tags">
                                Tags:
                                {% for tag in post.meta.tags %}
                                <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </p>
                            {% endif %}
                        </article>
                    </div>
            {% endfor %}

            <div class="row">
                <div class="col-lg-12 text-center">
                        <a class="btn btn-default btn-lg" href="{{ site.url }}/blog" title="Next Page"><span class="title">Read Blog</span></a></li>
                </div>
            </div>
    </div>
</div>
